<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>testflight</string>
	<key>connections</key>
	<dict>
		<key>3AF7ACCF-651A-4A89-989B-6CD208BA147C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C919D8D-473A-4961-B9A4-F5D88F2AECFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B259D95-680D-416D-968E-5C45D7D0851A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AC374C4-41D3-422F-AD4E-6BA00A738592</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3CF81ED8-FA41-48B6-BD77-79CE55BBDF5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F650B1A1-F098-4CFF-BAAE-EE4C2F38B6F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4981AE92-E779-4D72-83F4-6E05375687A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30CA17B1-8358-43C2-A51F-A9B77C00EFE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>52EDAD83-700A-4CDA-94CD-F9C8C4F727DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4981AE92-E779-4D72-83F4-6E05375687A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>566559A1-4F64-44B2-9041-8B83C7183EA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>954CBC41-F4F5-4FEE-A860-0194E5FF035D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7B2643F5-4CC2-4798-8307-586D13CC929A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F42F4DA6-C588-440B-A437-41A95526C135</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9324A35D-EDE3-486B-B3E6-B501223325ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EA80155-90B4-4012-B4BE-442834C8E0CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>954CBC41-F4F5-4FEE-A860-0194E5FF035D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8246381E-CF91-4B21-B1C3-299456D65E5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC457591-555B-4C8C-8BD5-78FB45986908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A966FA8-8839-45ED-BA2C-86D31F1129BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2A756DF-7398-422F-9E98-288075F1561F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B259D95-680D-416D-968E-5C45D7D0851A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BE899F94-CEF4-4088-94DB-0F5FF9619547</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC457591-555B-4C8C-8BD5-78FB45986908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C4CC385C-0399-472D-B3FA-F30CFFEBAE0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9324A35D-EDE3-486B-B3E6-B501223325ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5A3D94D-FC83-4CFA-A5C7-FC069C3EA39D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CF81ED8-FA41-48B6-BD77-79CE55BBDF5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F42F4DA6-C588-440B-A437-41A95526C135</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B11FB4F-63A4-4177-AA17-4B462EC7D080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dave Fisher</string>
	<key>description</key>
	<string>Workflow for the TestFlight API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TestFlight v1.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>if {query} = 1 then 
tell application "Alfred 2" to search "tfpreflightnotes Hello World!" 
end if</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>F650B1A1-F098-4CFF-BAAE-EE4C2F38B6F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C5A3D94D-FC83-4CFA-A5C7-FC069C3EA39D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php -f preflightfiles.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CF81ED8-FA41-48B6-BD77-79CE55BBDF5C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "tfdistribution Crimson"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>30CA17B1-8358-43C2-A51F-A9B77C00EFE7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>php -f preflightsetnotes.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4981AE92-E779-4D72-83F4-6E05375687A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tfpreflightnotes</string>
				<key>script</key>
				<string>php -f preflightnotes.php -- '{query}'</string>
				<key>subtext</key>
				<string>Notes</string>
				<key>title</key>
				<string>Test Flight Notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>52EDAD83-700A-4CDA-94CD-F9C8C4F727DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tfdistribution</string>
				<key>script</key>
				<string>php -f preflightdistlist.php -- '{query}'</string>
				<key>subtext</key>
				<string>Distribution List</string>
				<key>title</key>
				<string>Test Flight Distribution List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE899F94-CEF4-4088-94DB-0F5FF9619547</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "tfnotify false" </string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>4A966FA8-8839-45ED-BA2C-86D31F1129BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>php -f preflightsetdistlist.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC457591-555B-4C8C-8BD5-78FB45986908</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tfnotify</string>
				<key>script</key>
				<string>php -f preflightnotify.php -- '{query}'</string>
				<key>subtext</key>
				<string>Notify</string>
				<key>title</key>
				<string>Test Flight Notify</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7B2643F5-4CC2-4798-8307-586D13CC929A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>php -f preflightsetnotify.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F42F4DA6-C588-440B-A437-41A95526C135</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "tfreplace false" </string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>5B11FB4F-63A4-4177-AA17-4B462EC7D080</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "tfupload"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>3AC374C4-41D3-422F-AD4E-6BA00A738592</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tfreplace</string>
				<key>script</key>
				<string>php -f preflightreplace.php -- '{query}'</string>
				<key>subtext</key>
				<string>Replace</string>
				<key>title</key>
				<string>Test Flight Replace</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B2A756DF-7398-422F-9E98-288075F1561F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f preflightsetreplace.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B259D95-680D-416D-968E-5C45D7D0851A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Complete</string>
				<key>title</key>
				<string>TestFlight Upload</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C919D8D-473A-4961-B9A4-F5D88F2AECFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tfupload</string>
				<key>runningsubtext</key>
				<string>Uploading....</string>
				<key>script</key>
				<string>php -f flight.php -- '{query}'</string>
				<key>subtext</key>
				<string>Upload To TestFlight</string>
				<key>title</key>
				<string>Test Flight Upload</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3AF7ACCF-651A-4A89-989B-6CD208BA147C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tfapitoken</string>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>php -f apitoken.php -- '{query}'</string>
				<key>subtext</key>
				<string>Sets the API Token</string>
				<key>title</key>
				<string>TestFlight API Token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>566559A1-4F64-44B2-9041-8B83C7183EA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>php -f setapitoken.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>954CBC41-F4F5-4FEE-A860-0194E5FF035D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Saved API Token {query}</string>
				<key>title</key>
				<string>TestFlight API</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8246381E-CF91-4B21-B1C3-299456D65E5E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Saved Team Token {query}</string>
				<key>title</key>
				<string>TestFlight API</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2EA80155-90B4-4012-B4BE-442834C8E0CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>tfteamtoken</string>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>php -f teamtoken.php -- '{query}'</string>
				<key>subtext</key>
				<string>Sets the Team Token</string>
				<key>title</key>
				<string>TestFlight Team Token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C4CC385C-0399-472D-B3FA-F30CFFEBAE0E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f setteamtoken.php -- '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9324A35D-EDE3-486B-B3E6-B501223325ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use tfapitoken and tfteamtoken to set your test flight details.
CTRL-SHIFT-B while selecting the files you wish to upload to Test Flight.

Credits
=======
jdfwarrior - Awesome PHP Workflow For Alfred - http://dferg.us/
TestFlight - http://testflightapp.com/</string>
	<key>uidata</key>
	<dict>
		<key>2EA80155-90B4-4012-B4BE-442834C8E0CE</key>
		<dict>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>30CA17B1-8358-43C2-A51F-A9B77C00EFE7</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3AC374C4-41D3-422F-AD4E-6BA00A738592</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>3AF7ACCF-651A-4A89-989B-6CD208BA147C</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>3B259D95-680D-416D-968E-5C45D7D0851A</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>3CF81ED8-FA41-48B6-BD77-79CE55BBDF5C</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>4981AE92-E779-4D72-83F4-6E05375687A8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4A966FA8-8839-45ED-BA2C-86D31F1129BE</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>52EDAD83-700A-4CDA-94CD-F9C8C4F727DE</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>566559A1-4F64-44B2-9041-8B83C7183EA2</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>5B11FB4F-63A4-4177-AA17-4B462EC7D080</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>7B2643F5-4CC2-4798-8307-586D13CC929A</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>8246381E-CF91-4B21-B1C3-299456D65E5E</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>8C919D8D-473A-4961-B9A4-F5D88F2AECFF</key>
		<dict>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>9324A35D-EDE3-486B-B3E6-B501223325ED</key>
		<dict>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>954CBC41-F4F5-4FEE-A860-0194E5FF035D</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>AC457591-555B-4C8C-8BD5-78FB45986908</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>B2A756DF-7398-422F-9E98-288075F1561F</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>BE899F94-CEF4-4088-94DB-0F5FF9619547</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>C4CC385C-0399-472D-B3FA-F30CFFEBAE0E</key>
		<dict>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>C5A3D94D-FC83-4CFA-A5C7-FC069C3EA39D</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F42F4DA6-C588-440B-A437-41A95526C135</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>F650B1A1-F098-4CFF-BAAE-EE4C2F38B6F3</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.thevirtualforge.com</string>
</dict>
</plist>
